/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /**/
  margin: 0; /*h6 no tenga margen*/
  padding: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: "Raleway"; /*Agregamos fonts*/
}

img {
  vertical-align: middle;
}

.container { /*Contenedor: ocupe cada fila del navegador(para cada imagen de work)*/
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after { /*no admite elemento ni a su izquierda ni a su derecha*/
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px; /*afecta a todos los lados*/
}

a {
  color: #373B47;
  text-decoration: none; /*Quitamos el subrayado*/
}

a:hover {
  color: #E95853; /*Cambiar de color cuando el maouse pasa por el a*/
}

.text-uppercase {
  text-transform: uppercase;/*Convierte el texto a mayuscula*/
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

.inline-block { /*2*/
  display: inline-block;
}

header { /*1°*/
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  padding-top: 20px; /*da un relleno a los navegadores */
  z-index: 1000; /* 6 z-index-> sirve para trabajar por capas (traer adelante on retroceder capas antes o delante de otro)*/
}

header figure img { /*3*/
  width: 70px;
  margin-right: 180px;
}

header figure { /*4 colocamos el logo a la derecha*/
  float: right;
}

header div {
  margin-left: 190px; /*5° separa el navegador con los servicios empezando de izquierda*/
  margin-top: 10px;
}

header div a {
  margin: 0 20px; /*7*/
  font-weight: bold;
}

/*STYLE FOR THE SECTION INTRO*/
#intro {
  text-align: center;
  background-image: url("../assets/images/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 87px;
  height: 547px;
}
#intro div {
  margin-top: 70px;
  color: white;
}

#intro h1 {
  font-size: 52px;
  margin-bottom: 0px;
  font-weight: bold; 
}

#intro h2 {
  padding-top: 80px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 50px;
}

#intro p {
  margin-bottom: 70px; 
 }
  
.button {
  background-color: #2Ecc71;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 10px 18px;
}

/*STYLE FOR THE SECTION SERVICES*/
#services {
  background-color: #E95853;
  width: 100%;
  color: white;
  font-weight: 700;
  text-align: center;
}

#services h2 {
  font-size: 36px;
  padding-top: 80px;
  margin-bottom: 40px;
}

.service {
  display: inline-block;
  margin: 0 70px 84px;
}

.service img {
  margin: 70px 0 20px;
  width: 200px;
}

.service h6 {
  margin-top: 0;
}

/*STYLE FOR THE SECTION WORKS*/
#works {
  text-align: center;
}
#works h2 {
  font-size: 36px;
  padding-top: 80px;
  margin-bottom: 35px;
}

#works h4 {
  margin-bottom: 45px;
}

#works figure img {
  display: block;
  margin: auto;
  width: 65%;
}

#works .box {
  display: inline-block;
  margin: 30px; /*Margen entre las cajas de work*/
  width: 300px;
}

#works .box img {
  display: block;
  width: 100%; /*Extiende la imagen de work*/
}

#works .proyect-name {
  color: #444;
  font-weight: bold;
  padding: 20px 0 0;
  text-transform: uppercase;
}

/*STYLE FOR THE FOOTER*/
footer {
  background-color: #373b47;
  color: #fff;
  margin: 80px 0 0;
  padding: 20px 0;
  text-align: center;
}