/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  display: block;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: "Raleway", sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/


a:-webkit-any-link {
  color: webkit link;
  cursor: auto;
  text-decoration: underline;
}


header {
  background-color: #fff;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}


header .menu {
  margin: 30px;
  margin-bottom: 40px;
  margin-left: 66px;
  font-size: 16px;
  font-weight: bold;
}

header .logo img {
  display: block;
  width: 100%;
}
.button {
  background-color: #2Ecc71;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 10px 18px;
}
.hero, .services {
  color: #fff;
}
.service img {
  margin: 70px 0 20px;
  width: 200px;
}

.work .big-image {
  display: block;
  margin: auto;
  width: 80%;
}

.work .proyect-name {
  color: #444;
  font-weight: bold;
  padding: 20px 0 0;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.work h4 {
  margin-bottom: 45px;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}
footer {
  background-color: #373b47;
  color: white;
  margin: 80px 0 0;
  padding: 20px 0;
}
